# macOS Finder files
.DS_Store
/.DS_Store
/.venv
/PasswordMe.exe.spec
/PasswordMe.spec
/Upload
/build
/pwdme-icon.icns
/pwdme-icon.ico# Ignore generated dist artifacts (keep DMG)
dist/PasswordMe
dist/PasswordMe.app/
dist/PasswordMe.exe
dist/PasswordMe.exe.app/
!dist/Dmg_version/PasswordMe.dmg
